<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.siano">

    <dist:module dist:instant="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:replace="allowBackup, android:supportsRtl">

        <activity
                android:name=".view.splash.SplashActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".view.transaction.TransactionActivity"
                android:windowSoftInputMode="stateVisible|adjustResize"/>

        <activity
                android:name=".view.joinBudget.JoinBudgetActivity"
                android:windowSoftInputMode="stateVisible|adjustResize"/>

        <activity android:name=".view.budgets.BudgetsActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.budget.BudgetActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URIs that begin with "https://sianoapp.gigalixirapp.com/budgets” -->
                <data android:scheme="https"
                      android:host="sianoapp.gigalixirapp.com"
                      android:pathPrefix="/budgets" />
            </intent-filter>
        </activity>

        <activity android:name=".view.createBudget.CreateBudgetActivity"
                  android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.editBudget.EditBudgetActivity"
                  android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.addMember.AddMemberActivity"
                  android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.siano.view.landing.login.LoginActivity"
                android:windowSoftInputMode="adjustResize"/>

        <activity
                android:name="com.siano.view.landing.registration.RegistrationActivity"
                android:windowSoftInputMode="adjustResize"/>

        <activity
                android:name="com.siano.view.landing.forgotPassword.ForgotPasswordActivity"
                android:windowSoftInputMode="adjustResize"/>

        <activity
                android:name="com.siano.view.landing.resetPassword.ResetPasswordActivity"
                android:windowSoftInputMode="adjustResize">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URIs that begin with "https://sianoapp.gigalixirapp.com/api/password_resets/update” -->
                <data android:scheme="https"
                      android:host="sianoapp.gigalixirapp.com"
                      android:pathPrefix="/api/password_resets/update" />
            </intent-filter>
        </activity>

        <activity
                android:name="com.siano.view.landing.CheckMailActivity"
                android:windowSoftInputMode="adjustResize"/>

        <activity
                android:name="com.siano.view.landing.LandingActivity"
                android:windowSoftInputMode="adjustResize"/>

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-7074782982800621~3636826364"/>
    </application>

</manifest>